<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
    <link rel="stylesheet" href="styles/auth.css" />
    <link rel="stylesheet" href="styles/topnavStyle.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <%- include('navbar') %>
    <div id="main-screen">
      <fieldset>
        <form action="/auth" method="post">
          <label for="user">Username:</label>
          <input type="text" id="user" name="username" required/>
          <br />
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required/>
          <br />
          <input type="submit" value="Submit" />
          <p><%- errorMessage %></p>
        </form>
      </fieldset>
      <a id="createAccount" href="/auth/register">Create Account</a>
    </div>
  </body>
</html>
