body {
    background-color: #0d1117;
    color: white;
    margin: 0;
}

input[id="reset"]:hover, #replay:hover {
    background-color: #89929b;
    border-radius: 50px;
    cursor: pointer;
}

p {
    font-size: large;
    margin-left: 10px;
}

#play-area {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#play-area-nav {
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    align-items: center;
}


input[id="reset"], #replay {
    font-size: large;
    background-color: #34495e;
    color: white;
    border: 5px solid #2c3e50;
    border-radius: 10px;
    transition: background-color .75s, border-radius .75s, color .75s;
}

#game-grid {
    position: relative;
    overflow: hidden;
    display: grid;
    width: 519px;
	height: 519px;
    grid-template-columns: repeat(3, 173px);
    grid-template-rows: repeat(3, 173px);
    justify-content: center;
    border: 6px solid #2c3e50;
    background-color: #34495e;
    border-radius: 10px;
    transition: opacity .5s
}

#win-screen {
    z-index: 1;
    position: absolute;
    display: none;
    top: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 6px solid #2c3e50;
    border-radius: 10px;
    background-color: #0d1117;
    padding: 5px;
}

#win-screen button {
    float: right;
}

#game-grid input {
    border: 6px solid #2c3e50;
    border-radius: 2px;
    background-color: #34495e;
    font-weight: bold;
    font-size: 4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .75s;
}