#main-screen {
    overflow: hidden;
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

p, figure {
    font-size: large;
    margin-left: 10px;
}

iframe {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}