body {
    background-color: #0d1117;
    color: white;
    margin: 0;
}

#topnav {
    overflow: hidden;
    display: grid;
    grid-template-columns: 2.5fr .5fr .5fr .2fr;
    background-color: #161b22;
    justify-content: center;
}

#topnav a, #topnav a:visited {
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    transition: background-color .75s, border-radius .75s, color .75s;
    text-decoration: none;
    color: white;
}

#topnav a:hover, a.active {
    background-color: #2c3e50;
    border-radius: 50px;
    cursor: pointer;
}

#topnav h1 {
    background-color: #161b22;
    margin-left: 10px;
}

#topnav h1:hover {
    background-color: #161b22;
    margin-left: 10px;
    cursor: pointer;
}

#main-screen {
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 300px;
    background-color: #161b22;
    border: 8px solid #2c3e50;
    border-radius: 5px;
}

input, label {
    margin-bottom: 20px;
    font-size: 20px;
}

input[type="submit"] {
    margin-top: 30px;
    float: right;
}

#createAccount, input{
    margin-top: 10px;
    padding: 5px;
    font-size: large;
    background-color: #34495e;
    color: white;
    border: 5px solid #2c3e50;
    border-radius: 10px;
    transition: background-color .75s, border-radius .75s, color .75s;
    text-decoration: none;
}

#createAccount:hover, input[type="submit"]:hover {
    background-color: #89929b;
    border-radius: 50px;
    cursor: pointer;
}